body{
	background-color:#f8f9fa;
	font-family:"微軟正黑體";
}
.logo-image{
	height: 80px;
	width:120px;
}
.top-info{
	background-color:white;
}
.cart-table{

padding-top:5%;
}

table img{
	height:60px;
	width:60px;
}
.total{
	font-size:18px;
	background-color:white;

}
.number{
	font-size:18px;
	background-color:white;
	color:#CC0000;
	font-weight:bold;
}
.web-footer{
	background-color:rgba(0,0,0,0.6);
	color:white;
}
.web-footer a{
	color: white;
	font-size:18px;
}
.footer-title{
	font-weight: bold;
}
.footer-context{
	font-size: 14px;
}
.footer-item{
	background-color:rgba(0,0,0,0.7);
	font-size: 12px;
}
.cart-img{
	width:16%;
	height:110px;
	margin-top:5%;
}
.cart-img-b{
	width:18%;
	height:100px;
	margin-top:5%;
}