body{
	background-color:#f8f9fa;
	font-family:"微軟正黑體";
}
.logo-image{
	height: 80px;
	width:120px;
}
.top-info{
	background-color:white;
}
.card img{
height:30%;
width:30%;
}
.shop-item{
	font-size: 16px;
}
.shop-item-detail{
	font-size: 14px;
}
.ordercard{
	margin:3% 0% 10% 0%;
	position: fixed;
	z-index: -1;
}
.number{
	color:red;
}
.confirmcard{
	margin:8% 5% 8% 10%;
}
.confirmcard2{
	margin-left: 10%;
	margin-bottom: 5%;
}
.inputpayway{
	font-size: 18px;
	padding-left: 3%;
	padding-right: 10%;

}.web-footer{
	background-color:rgba(0,0,0,0.6);
	color:white;
}
.web-footer a{
	color: white;
	font-size:18px;
}
.footer-context{
	font-size: 14px;
}.footer-title{
	font-weight: bold;
}
.footer-item{
	background-color:rgba(0,0,0,0.7);
	font-size: 12px;
}
.cart-img{
	width:16%;
	height:110px;
	margin-top:5%;
}
.cart-img-b{
	width:18%;
	height:100px;
	margin-top:5%;
}