body{
	background-color:#f8f9fa;
	font-family:"微軟正黑體";
}
.logo-image{
	height: 80px;
	width:120px;
}
.top-info{
	background-color:white;
}
.board{
	margin-top: 5%;
}
.board-title ,.contact-title{
	font-size: 28px;
	font-weight: bold;
	padding-top: 5%;
}
form{
	padding:8%;
}
label{
	font-size:16px;
	font-weight: bold;
}
.contact{
	margin-top: 5%;
	margin-left: 5%;
}
.contact-items-title{
	font-size: 20px;
	font-weight: bold;
}
.web-footer{
	background-color:rgba(0,0,0,0.6);
	color:white;
}
.web-footer a{
	color: white;
	font-size:18px;
}
.footer-context{
	font-size: 14px;
}.footer-title{
	font-weight: bold;
}