body{
	background-color:#f8f9fa;
	font-family:"微軟正黑體";
}
.logo-image{
	height: 80px;
	width:120px;
}
.top-info{
	background-color:white;
}
.card-header{
	background: white;
	font-size: 18px;
	color:black;
}
.card{
border:none;
}
.web-footer{
	background-color:rgba(0,0,0,0.6);
	color:white;
}
.web-footer a{
	color: white;
	font-size:18px;
}
.footer-context{
	font-size: 14px;
}.footer-title{
	font-weight: bold;
}
.footer-item{
	background-color:rgba(0,0,0,0.7);
	font-size: 12px;
}
.card-text{
font-family: "微軟正黑體";
}
.ans-card-text{
	font-family: "微軟正黑體";
	line-height: 30px;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color:white;
	background-color: rgba(	153,204,204,0.8);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color:#3d7878;
	background-color: #fff;
}
.nav-link{
	color:#3d7878;
	font-weight: bold;
}
.nav-link:hover{
	color:#4f9d9d;
}.faq-img{
	width: 55%;
	height: 250px;
}
