body{
	font-family: '微軟正黑體';
	background-color:#F0F8FF;
}

.logo-image{
	height: 100px;
	width:160px;
}
.logo-image-scroll{
		height: 80px;
	width:120px;
}
.bannerImg{
	height:450px;
}
.navbarContent{
	font-size:20px;

}
.intCard{
	position:relative;
}
.intImg{
width: 325px;
height:219px;
opacity: 1;
display: block;
transition: .5s ease;
border: 5px #6E8898 dotted;
margin-top:5%;

}
.middle{
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-size: 36px;
font-weight: bold;

}
.intCard:hover .intImg {
opacity: 0.3;
}
.intCard:hover .middle {
opacity: 1;
}

.card{
	position:relative;
	overflow: hidden;
}
.details{
	height:130px;
	width:320px;
	position:absolute;
	display: block;
	padding:10px;
	box-sizing: border-box;
	transition: .5s;
	bottom: 0px;
	background: white;

}
.productImg{
	height:360px;
	width: 330px;
}
.card-body:hover .details{
	bottom: 150px;
	transition: .3s ease-in-out;}
.card:hover .productImg{
	transform:scale(1.2);
	transition: .3s ease-in-out;
}
.card-text{
	background-color: white;
}
.productName{

	
	font-weight: bolder;
	
} .card-text{
	font-size:14px;
}
.price{
	font-weight: bolder;
	font-size: 24px;
	color:#AA0000;
}
.card-text h5{

	font-weight: bold;
}
.ProductTitle{
	font-weight: bolder;
	font-size: 50px;
	
}
.newImage{
	height:360px;
	width:330px;
}

.discountprice{
	text-decoration:line-through;
	color:gray;	
}
.nav-h4{
	color:	#008888;
	font-weight: bold;
}
.d-banner{
	height:250px;
}
.featureImg{
	height:400px;
}
.web-footer{
	background-color:rgba(0,0,0,0.6);
	color:white;
}
.web-footer a{
	color: white;
	font-size:18px;
}
.footer-title{
	font-weight: bold;
}
.footer-context{
	font-size: 14px;
}
.footer-item{
	background-color:rgba(0,0,0,0.7);
	font-size: 12px;
}

.service-img{
	width: 150px;
	height: 150px;

}
#top-info{
	transition: 4s;
}
#top-info-scroll {
	display: none;
}
.top-info{
	background-color: white;
}
.service-title{
	font-weight: bold;
	font-size: 24px;
}

.title{
	font-weight: bold;
}
.service-card:hover{
transform:scale(1.2);
transition: 0.8s ease-in-out;
}
.service{
	
	padding-bottom: 8%;
}
.service-img-title{
	width: 200px;
	height:200px;
	padding-bottom: 3%;
	margin-top: 8%;
}

.fast-img-title{
	width: 200px;
	height:200px;
	padding-bottom: 3%;
	margin-top: 3%;
}
.service-img-title:hover{
transform:rotate(12deg);
}

.fast-img-title:hover{
	transform:rotate(12deg);
}
