body{
	background-color:#f8f9fa;
	font-family:"微軟正黑體";
}
.logo-image{
	height: 80px;
	width:120px;
}
.top-info{
	background-color:white;
}
.cart-table{

padding-top:5%;
}

table img{
	height:60px;
	width:60px;
}
.total{
	font-size:18px;
	background-color:white;

}
.number{
	font-size:18px;
	background-color:white;
	color:#CC0000;
	font-weight:bold;
}
.user{
	margin-top:5%;
}
.userphoto{
	font-size: 100px;
	margin:10%;
	padding-top:5%;
	padding-right:11%;
}

.user-title{
	font-size: 20px;
	font-weight: bold;
}
.user-content{
	font-size:16px;
}
.price{
	color:#CC0000;
}
.order-content{
	border-top-style: none;
}


.close {
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #f8f9fa; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 10%;
}

.modal-content {
  background-color: #f8f9fa;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 50%;
  padding:5% 8%;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.noorder{
	width: 200px;
	height: 200px;
}
.web-footer{
  background-color:rgba(0,0,0,0.6);
  color:white;
}
.web-footer a{
  color: white;
  font-size:18px;
}
.footer-title{
  font-weight: bold;
}
.footer-context{
  font-size: 14px;
}
.footer-item{
  background-color:rgba(0,0,0,0.7);
  font-size: 12px;
}