body{
	font-family: '微軟正黑體';
}
.logo-image{
	height: 80px;
	width:120px;
}
.shop-item{
        margin-bottom: 15px;
 }

.shop-item img{
        width: 100%;
       border-radius: 10px 10px 0 0;
       height:450px;
       background-size: contain;
       padding-left: 10%;
	}
	.shop-item a{
		color: black;
	}

    .shop-item a:hover {
        text-decoration: none;
    }

	.shop-item:hover img, .shop-item:hover .shop-item-details{
        box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
	}

    .shop-item .shop-item-details{
        border-radius: 0 0 10px 10px;   
    }

	.shop-item .shop-item-details span{
		color: red;
		font-size: 1.5em;
	}

	.shop-item .shop-item-details h4{
        margin-top: 5px;
		font-size: 1.2em;
        min-height: 44px;
	}

    .shop-item .shop-item-details .col-8{
        background: #f1f1f1;
        border-radius: 0 0 0 10px;
        border-right: solid thin rgba(0, 0, 0, 0.1);
    }
    .shop-item .shop-item-details .col-4{
        background: #f1f1f1;
        color: #602935;
        border-radius: 0 0 10px 0;
        font-size: 3em;
    }
	
	 .shop-item .shop-item-details .btn{
        color: #602935;
		background: #f1f1f1;
        border-radius: 0 0 10px 0;
		font-size: 1em;
		padding: 0;
    }
	
	.shop-item .shop-item-details .btn2{
        color: #602935;
		background: #f1f1f1;
        border-radius: 0 0 10px 0;
		font-size: 3em;
		padding: 0;
    }
	
	.shop-item .shop-item-details .col-4:hover, .shop-item .shop-item-details .btn:hover,.shop-item .shop-item-details .col-4:hover .btn{
        background: #A6CDDE;
    }
	
	.shop-item .shop-item-details .btn:hover{
        background: #A6CDDE;
    }
	.labeltitle{
		font-size: 14px;
	}.shop-item-btn{
		size:160px;
	}.suggest{
	width:190px;
	height: 190px;
	}
	.suggest-card{
		width:190px;
		max-height: 300px;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	.card-title{
		font-size: 14px;
	}.suggest-product-title{
		font-size: 30px;
	
	}
	
	.message-rows{
		background: #BFB7AC;
		padding: 15px 20px;
		overflow-y: scroll;
		height: 500px;
	}

	.message-row{
		background:  #f1f1f1;
		border-radius: 10px;
		margin-top: 1em;
	}

	.message-row:hover{
		background:  #DCD0D0;
	}


	.message .fa-user-tie{
		font-size: 4em;
		color: #c7b299;
		padding: 5px;
	}

	.message .fa-star{
		color: #F5A428;
	}

	.star_bg {
		width: 120px; 
		height: 20px;
	    background: url(../image/page/icon-star-default.png) repeat-x;
	    position: relative;
	    overflow: hidden;
	}

	.rating {
	    unicode-bidi: bidi-override;
	    direction: rtl;
	    width: 8em;
	    margin-top: 2.2em;
	}	

	.rating input {
	    position: absolute;
	    left: -999999px;
	}

	.rating label {
	    display: inline-block;
	    font-size: 0;
	}

	.rating > label:before {
	    position: relative;
	    font: 24px/1 FontAwesome;
	    display: block;
	    content: "\f005";
	    color: #f1f1f1;
	    background: -webkit-linear-gradient(-45deg, #f1f1f1 0%, #f1f1f1 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}

	.rating > label:hover:before,
	.rating > label:hover ~ label:before,
	.rating > label.selected:before,
	.rating > label.selected ~ label:before {
	    color: #F5A428;
	    background: -webkit-linear-gradient(-45deg, #F5A428 0%, #F5A428 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}