body{
	font-family: '微軟正黑體';
	background-color:#F0F8FF;
}
.logo-image{
	height: 80px;
	width:120px;
}
.shop-item{
        margin-bottom: 15px;
 }
.product-img{
        width: 100%;
       border-radius: 10px 10px 0 0;
       height:450px;
       background-size: contain;
       padding-left: 10%;
	}
	.gallery{
	height:120px;
	width:120px;
	cursor: pointer;
	 opacity: 0.8; 
}
	.shop-item a{
		color: black;
	}

    .shop-item a:hover {
        text-decoration: none;
    }
	}.shop-item-btn{
		size:160px;
	}.suggest{
	width:190px;
	height: 190px;
	}
	.suggest-card{
		width:190px;
		max-height: 300px;
		overflow-y: hidden;
		overflow-x: hidden;
	}
	.card-title{
		font-size: 14px;
	}
	.suggest-product-title{
		font-size: 30px
	}
	.message-rows{
		border-radius: 10px;
		margin-top: 1em;
		background-color: white;
	}

	.message-rows:hover{
		background:  #BCD2EE;
	}
	
.web-footer{
	background-color:rgba(0,0,0,0.6);
	color:white;
}
.web-footer a{
	color: white;
	font-size:18px;
}
.footer-context{
	font-size: 14px;
}.footer-title{
	font-weight: bold;
}
.footer-item{
	background-color:rgba(0,0,0,0.7);
	font-size: 12px;
}
.rating {
    float:right;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #F0E68C;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.qty {
  width: 40px;
  height: 35px;
  text-align: center;
  border: 1px solid black;
  
}


input.qtyplus {
  width: 25px;
  height: 35px;
  border: 1px solid black;
  background: #f8f8f8;
}

input.qtyminus {
  width: 25px;
  height: 35px;
  border: 1px solid black;
  background: #f8f8f8;
}.fa-star{
	color:#FFEF00;
}
.top-info{
	background-color: white;
}

.nav-bold{
	font-weight: bolder;
}
.bg-set{
	background-color:#F0F8FF;
	padding-top: 5%;
	margin-bottom: 0;
}
