
body{
	font-family: '微軟正黑體';
}
.top-info{
	position: relative;
}
.logo-image{
	height: 80px;
	width:120px;
}
.shopphoto{
	height:230px;
	width: 230px;
}
.card{
	height
}
ul{
	list-style: none;
}
.face-img{
	height:100px;
	width: 100px;
}
.web-footer{
	background-color:rgba(0,0,0,0.6);
	color:white;
}
.web-footer a{
	color: white;
	font-size:18px;
}
.footer-context{
	font-size: 14px;
}
.footer-title{
	font-weight: bold;
}